/*구조적 가상 클래스 선택자*/
/*:first-child와 :last-child*/
/*p:first-child {*/
/*  color: red;*/
/*}*/

/*p:last-child {*/
/*  color: red;*/
/*}*/

/*선택자 조합*/
/*1. 클래스와 아이디*/
div.testclass {}  /* class 속성값이 test인 div 태그 */
section#title {}  /* id 속성값이 title인 section 태그 */
#title.test {}  /* id 속성값이 title이고, class 속성값이 test인 요소 */

/*2. 가상 클래스와 하위 선택자, 자식 선택자 조합*/
div:hover button {}  /* div 태그에 마우스를 올렸을 때, 해당 div 태그 하위에 있는 button 태그 선택 */
div:hover > button {}  /* div 태그에 마우스를 올렸을 때, 해당 div 태그의 자식인 button 태그 선택 */

h6 {
  color: aqua;
  background: black;
}

.parent_em {
  font-size: 16px;
}

.child_em {
  font-size: 2em; /* 16px(부모 font-size 크기) * 2em = 32px */
}

.child_em-to-child {
  font-size: 2em; /* 32px(부모 font-size 크기) * 2em = 64px */
}

html {
  font-size: 16px;
}

.parent_rem {
  font-size: 1rem; /* 16px * 1rem = 16px */
}

.child_rem {
  font-size: 2rem; /* 16px * 2rem = 32px */
}

.parent_vw {
  font-size: 1vw; /* 900px * 1/100 = 9px */
}

.child_vw {
  font-size: 2vw; /* 900px * 2/100 = 18px */
}

.parent_vh {
  font-size: 1vh; /* 400px * 1/100 = 4px */
}

.child_vh {
  font-size: 2vh; /* 400px * 2/100 = 8px */
}

#letter1 {
  font-family: Symbol;
}

#letter2 {
  font-family: "Work Sans", serif;
  font-weight: bold;
}

.italic {
  font-style: italic;
}
.oblique {
  font-style: oblique;
}

#margin1{
  margin: 20px;

}

#margin2{
  margin: 40px;

}


/*body{*/
/*  text-align: right;*/
/*}*/
.box{
  width: 100px;
  height: 100px;
  display: inline-block;
}
.red_box{
  background-color: red;
}
.green_box{
  background-color: green;
}
.blue_box{
  background-color: blue;
}

div {
  width: 800px;
  height: 600px;
  background-color: red;
  background-image: url('https://s.pstatic.net/static/www/mobile/edit/20240926_0/upload_1727340486286Jh4lB.png');
  background-size: 80px 60px;
  background-position: 0% 100%;

  border: 1px solid black;
  /*background-repeat: no-repeat;*/
}

body {
  height: 100vh;
  overflow: scroll;
}

.parent_BGA {
  border: 1px solid black;
  overflow: scroll;
}

.children_BGA {
  height: 200px;
  background-image: url('https://s.pstatic.net/static/www/mobile/edit/20240926_0/upload_1727340486286Jh4lB.png');
  background-attachment: fixed; /* local, scroll */
}
